<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new tag</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/styles/base.css" rel="stylesheet">
    <script th:replace="~{fragments :: formValidation}"></script>
</head>
<body>

<nav th:replace="~{fragments :: navigation}"></nav>

<main role="main">
    <div th:replace="~{fragments :: title('Create topic', 'Fill the following fields')}"></div>
    <div class="custom-content">
        <form class="validation-form" method="post" action="/topics/create" novalidate>

            <div class="form-group">
                <label for="title" class="lead">Title:</label>
                <input type="text" class="form-control" id="title" autocomplete="off" name="title" placeholder="Input title" required>
                <div class="invalid-feedback">Title is mandatory</div>
            </div>

            <div class="form-group">
                <label for="userName" class="lead">Username:</label>
                <input type="text" class="form-control" id="userName" autocomplete="off" name="userName" placeholder="Input username" required>
                <div class="invalid-feedback">Username is mandatory</div>
            </div>

            <div class="form-group">
                <label for="tags" class="lead">Tags (comma separated):</label>
                <input type="text" class="form-control"  id="tags" autocomplete="off" name="tags" placeholder="Input tags" required/>
                <div class="invalid-feedback">Tags is mandatory</div>
            </div>

            <div class="form-group">
                <label for="keywords" class="lead">Keywords (comma separated):</label>
                <input type="text" class="form-control" id="keywords" autocomplete="off" name="keywords" placeholder="Input keywords" required/>
                <div class="invalid-feedback">Keywords is mandatory</div>
            </div>

            <div class="form-group">
                <label for="content" class="lead">Content:</label>
                <textarea class="form-control" id="content" autocomplete="off" name="content" placeholder="Input topic content" required></textarea>
                <div class="invalid-feedback">Topic content is mandatory</div>
            </div>

            <button type="submit" class="btn btn-outline-secondary">Create new</button>
        </form>
    </div>
</main>

<div th:if="${201 == #response.status}" class="alert alert-success" role="alert">
    Topic was created successfully!
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>